google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-storage
requests
vertexai
google-cloud-storage==2.8.0
google.cloud.logging==3.11.0
pyarrow==17.0.0
pandas==2.2.3
fastparquet==2024.5.0
google-api-core==2.23.0